@font-face{
  font-family: "Extatica";
  src: local("Extatica-Medium"),
    url("./fonts/Extatica-Medium.otf") format("truetype");
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.gradient_background {
  background: linear-gradient(182.42deg, #E3F0F9 2.03%, #F8FAFC 17.33%, #F1F5F9 62.04%), #F1F5F9;
  width: 1470px;
  height: 3192px;
  flex-direction: row;
justify-content: center;
align-items: flex-start;
}
